body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-image: url("images/tajmahal.jpg");
    background-size: cover;
    color: white;
    padding: 100px 0 40px 0;
    /* margin-bottom: -30px; */
    height: 500px;
}

#hero-heading {
    background: #1D3557;
    font-size: 40px;
    margin-top: 100px;
    padding: 5px 10px;
    border-radius: 10px;
}

#hero-subheading {
    background: #457B9D;
    font-size: 30px;
    padding: 10px 40px;
    border-radius: 10px;
    margin-top: 5px;
}

#taj-underline {
    border-bottom: 2px solid white;
}

.activity {
    margin: 0;
    padding: 0;
    background: linear-gradient(lightblue, white);
    color: #1D3557;
}

.activity-heading {
    text-decoration: underline;
    margin-top: 0px;
    padding-top: 50px ;
    font-size: 35px;
    color: #1D3557;
}

.single-activity {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.single-activity-heading {
    font-size: 25px;
    margin: 50px 0;
}

.single-architecture {
    width: 300px;
    height: 200px;
    border-bottom: 3px solid grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.guide {
    background: red;
    width: 500px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin: 150px auto;
    padding: 20px;
    background: #A8DADC;
    color: #1D3557;
    border-bottom: 5px solid #1D3557;
    border-radius: 20px;
}

#avatar {
    width: 150px;
    height: 200px;
}

#guide-about {
    font-style: italic;
}

.clear-fix {
    overflow: auto;
}

